body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 24px auto;
  padding: 20px 40px;
  background-color: #0d0d0d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
  color: paleturquoise;
  text-align: center;
}
